*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height:100vh;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width:80%;
    margin:0 auto;
}
.form{
    padding:20px;
    margin:0 auto;
}
.form__element{
    position: relative;
    border:none;
    margin-bottom:20px;
    width:100%;
}
.form__element-i{
    position:absolute;
    padding: 0px 10px;
    top:12px;
    color:rgba(35, 66, 74, 0.5);
}
.form__title{
    padding:20px 0;
    color:#23424a;
}
.form__element-label{
    display:block;
    padding:5px 0;
    font-weight:700;
}
.form__element-input{
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline:none;
    color:#23424a;
    padding:8px 0 8px 40px;
    font-size:16px;
    border:none;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}
.form__btn{
    cursor: pointer;
    outline:none;
    background-color: #23424a;
    padding:7px 15px;
    border:none;
    color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    border-radius:100px; 
}
.extra::after{
    content:"";
    position: absolute;
    bottom:0px;
    left:0px;
    height:1px;
    width:0px;
    background:#23424a;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in; 
}
.form__element-input:focus ~  .extra::after{
    width:200px;
}


